@import "tailwindcss";
@import "./animations.css";
@import "./utilities.css";

@theme {
    --background: #040556;
    --card: #0a0a78;
    --highlight: #cc3558;
    --highlight-hover: #e4476c;
    --primary: #ffffff;
    --secondary: #d1c4e9;
    --muted: #f3f1ff;
}
