@import "tailwindcss";
@import "./animations.css";
@import "./utilities.css";

@theme {
    --background: #0b1020;
    --card: #121a33;
    --highlight: #f07a1a;
    --highlight-hover: #ff8a2a;
    --primary: #ffffff;
    --secondary: #cbd5e1;
    --muted: #94a3b8;
}
