@utility text-primary {
    color: var(--primary);
}

@utility text-secondary {
    color: var(--secondary);
}

@utility text-muted {
    color: var(--secondary);
}

@utility bg-background {
    background-color: var(--background);
}

@utility bg-card {
    background-color: var(--card);
}

@utility highlight {
    background-color: var(--highlight);
}

@utility highlight-hover {
    background-color: var(--highlight-hover);
}

@utility hero-bg {
    @apply bg-linear-to-br 
           from-[var(--background)]
           via-[var(--card)]
           to-[var(--highlight)]
           animate-gradient;
}

@utility cta-button {
    @apply px-5 sm:px-6 md:px-8
         h-12 sm:h-14 md:h-16
         text-base sm:text-lg md:text-xl
         highlight
         text-primary
         font-semibold
         cursor-pointer
         rounded-r-full
         hover:highlight-hover
         transition-all duration-200
         backdrop-blur-xl
         border border-white/10;
}
